<%= render partial: "partials/events_sidebar", locals: { active_category: "all", venues: @venues } %>
<div class="slider short col s9 offset-3">
  <ul class="slides">
    <li>
      <img src="https://raw.githubusercontent.com/GKhalsa/pivot_ticket/master/app/assets/images/symphony.jpg" >
      <div class="caption left-align">
        <h3>Welcome to Pivot Tickets!</h3>
        <h5 class="light white-text text-lighten-3">We've got the best seats.</h5>
      </div>
    </li>
    <li>
      <img src="https://raw.githubusercontent.com/GKhalsa/pivot_ticket/master/app/assets/images/stadium.jpg" >
      <div class="caption center-align">
        <h3>Buy or Sell</h3>
        <h5 class="light white-text text-lighten-3">
          <%= link_to "click to learn more.", my_tickets_new_path, class: "white-text" %>
        </h5>
      </div>
    </li>
    <li>
      <img src="https://raw.githubusercontent.com/GKhalsa/pivot_ticket/master/app/assets/images/venue.jpg" >
      <div class="caption left-align">
        <h3>Now accepting Venue applications!</h3>
        <h5 class="light white-text text-lighten-3">
          <%= link_to "click to learn more.", "#", class: "white-text" %>
          <!-- add link to go to new venue form -->
        </h5>
      </div>
    </li>
  </ul>
</div>

<%= render partial: "partials/item_grid" %>
