<div id="event_image"><%= image_tag @ticket.event.event_image.url %></div>
<div id="event_packages" class="col s12 m8 l9">
  <div class="row">

    <ul class="collapsible scrolling" data-collapsible="accordion">

      </ul>
  </div>
</div>
