<h4 id="venue-creation">Become a new Venue Owner Today!</h4>

<div class="center">
  <%= link_to "Create a New Venue",
              new_admin_venue_path,
              class: "waves-effect waves-light btn" %>
</div>
