.form-row {
  margin: 10px 0 0;
}

.completed-btn {
  width: 225px;
}

#event_image {
  float: left;
  padding-top: 25px;
}

#event_packages {
  float: right;
}

#venue-creation {
  padding-left: 100px;
}

#venue-image {
  float: left;
  padding-top: 30px;
}

#venue-options {
  padding-top: 100px;
  // padding-left: 50px;
}
