.ticket-add {
  color: teal;
}

.ticket-info {
  font-size: .8em;
  padding: none;
}

.scrolling {
  overflow-y: scroll;
  max-height: 445px;
}

.set_width {
  width: 1000px;
}

.tickets-header {
  background-color: rgba(250, 160, 102, 0.27);
}
