.ticket-add {
  color: teal;
}

.ticket-info {
  font-size: .8em;
  padding: none;
}

.scrolling {
  overflow-y: scroll;
  max-height: 445px;
}

.set_width {
  width: 1000px;
}

.tickets-header {
  background-color: rgba(250, 160, 102, 0.27);
}

#price {
  padding: 1px;
  background-color: hsla(124, 37%, 41%, 0.31);
  border-radius: 3px;
  font-size: 1.5em;
}

#seat {
  padding: 1px;
  background-color: hsla(258, 36%, 40%, 0.31);
  border-radius: 3px;
}
